Django
channels
channels-redis
redis
aiogram
telethon
supabase
psycopg2-binary
cryptography
django-cors-headers
djangorestframework
python-decouple
python-dotenv
gunicorn
daphne
asyncio
aioredis
requests